.articleComponent {
  border: 2px black solid;
  border-radius: 10px;
  margin: 6px;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  background-color: #CB81E5;
}

a {
  text-decoration: none;
}

button {
  border-radius: 5px;
  background-color: #f78f3f;
  font-weight: bold;
}
